<!-- Mobile menu -->
<div class="header__mobile-menu">
  <!-- Open mobile menu -->
  <div class="mobile-menu__open">
    <a href="#" class="js-open-mobile-menu">{% render 'burger-icon' %} </a>
  </div>
  <!-- End open mobile menu -->
  <!-- Mobile menu -->
  <div class="mobile-menu js-mobile-menu">
    <!-- Mobile Nav -->
    <ul class="mobile-menu__nav">
      <li class="active">
        <button>Menu</button>
        <ul class="mobile-menu__links active">
          {% for link in linklists[section.settings.mobile_linklist].links %}
            <li
              {% if link.links != blank %}
                class="mobile-menu__dropdown"
              {% endif %}
            >
              <a href="{{ link.url }}">{{ link.title | escape }}</a>

              {% if link.links != blank %}
                <div class="mobile-menu__dropdown-btn js-mobile-menu-dropdown-btn">
                  <span>
                    {% render 'down-icon' %}
                  </span>
                </div>
                <ul class="mobile-menu__dropdown-menu js-mobile-menu-dropdown-menu">
                  {% for childlink in link.links %}
                    <li>
                      <a href="{{ childlink.url }}">{{ childlink.title }}</a>
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      </li>
      <li>
        <button>Account</button>
        <ul class="mobile-menu__links">
          {% if customer %}
            <li>
              <a href="{{routes.account_url}}">Account</a>
            </li>
          {% else %}
            <li>
              <a href="{{routes.account_login_url}}">Sign In</a>
            </li>
            <li>
              <a href="{{routes.account_register_url}}">Create an Account</a>
            </li>
          {% endif %}
        </ul>
      </li>
    </ul>
    <!-- End Mobile nav -->
  </div>
  <!-- End mobile menu -->
</div>
<!-- End mobile menu -->
